body {
    margin: 0px;
    padding: 0px;
    background-color: #e1dddb;
    font-family: system-ui,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

/* Шапка */
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.header .links>a {
    padding: 0 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.header .links>a {
    color: #646464;
    font-size: 15px;
}

.header .links>a:hover {
    color: #848484;
}

/* Основа */
.main {
    background-color:#fefefe;
    border-radius: 8px;
    padding: 50px 130px 70px;
    margin: 0 80px;
}


/* Заголовок */
h1 {
    font-weight: bold;
    font-size: 18px;
    color: #181818; 
    padding-bottom: 6px;
    border-bottom: 2px #00b43f solid;
}

/* Описание задачи */
.description * {
    margin: 0;
    padding: 4px 0;
}

/* Список */
ul {
    padding-left: 1em;
}

li a {
    line-height: 1.8em;
    color: #0075b4;
    text-decoration: none;
}

li a:hover {
    color: #36a0da;
}

.code-js {
    background-color: #f0f8ff;
}

.conteiner-code{
    background: #F8F8F8; 
    overflow: auto; 
    width: auto; 
    border: solid #D1D9D7; 
    border-width: .1em; 
    padding: .2em .6em;
}

.pre-js {
    margin: 0; 
    line-height: 125%; 
}

/* область решения */
.solution {
    margin-top: 10px;
    border: 1px lightgray solid;
    border-radius: 8px;
    padding: 20px;
    font-size: 16px;
}

input {
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 16px;
    color: rgb(0, 139, 0);
}

button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px lightgray solid;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    color: #4e4e4e;
    background-color: rgb(230, 230, 230);
}

button:hover {
    background-color: rgb(240, 240, 240);
    color: #555555
}

.completed {
    text-decoration: line-through;
}

.input-view {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    height: 50px;
    width: fit-content;
    margin: 15px 0;
}

.result {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
  
.card {
    width: 200px;
    margin: 20px;
}
  
.card-image {
    display: block;
    width: 200px;
    height: 150px;
}